@font-face {
    font-family: cursedfont;
    src: url("cursedfont.ttf")
}

body {
    margin: 0;
    font-family: cursedfont;
    text-align: center;
    background-color: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 25px;
}
.score {
     background-color: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px
}
button {
    background: none;
    color: #9AABD8;
    border-color: #9AABD8;
    border-width: 2px;
    font-size: 19px;
}